httpx
pyperclip
pyotp
asyncio
winregistry
psutil
pypiwin32==223
pycryptodome
pyinstaller>=5.0
PIL-tools
asyncio
threaded
requests
datetime
colorama
pillow
customtkinter
pycryptodome
pyperclip
pyfiglet
tqdm